html, body { 
margin: 0; 
display: flex; 
justify-content: center; 
background-color: #add8e6;
font-family: Arial, sans-serif; 
background-repeat: no-repeat;
background-size: cover;
}

.container { 
width: 80%; 
background: #fff; 
min-height: 578vh;
padding: 20px; 
border-radius: 8px; 
box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
margin: 40px 0;
}

h3 { 
text-align: center; 
}

table { 
width: 100%; 
background: #fff; 
box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
border-radius: 8px; 
overflow: hidden;
}

td { 
padding: 5px;
border-radius: 5px; 
}

th { 
padding: 5px;
border-radius: 5px; 
}

input[type="text"], textarea { 
border-radius: 4px; 
}

button { 
margin: 16px; 
padding: 10px 20px; 
background-color: #4a90e2; 
color: #fff; 
border: none; 
border-radius: 4px; 
font-size: 16px; 
cursor: pointer; 
}

button:hover { 
background-color: #357ab8; 
}

.logo { 
height: 50px; 
} 

.logo-direita {
height: 100px;
}

.header h3 {
margin: 0; 
font-size: 22px;
text-align: center;
flex-grow: 10;
}


.header { 
display: flex; 
align-items: center; 
justify-content: space-between; 
margin-bottom: 20px; 
}

.assinaturas { 
display: flex; 
justify-content: space-around; 
margin-top: 50px; 
} 

.assinatura { 
text-align: center; 
width: 40%; 
} 

.linha { 
border-bottom: 1px solid #000; 
width: 100%; 
margin-bottom: 5px; 
} 

.nome { 
font-weight: bold; 
margin-top: 5px; 
}

.assinatura-central { 
text-align: center; 
margin-top: 60px; 
width: 50%; 
margin-left: auto; 
margin-right: auto; 
}

